<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/bootstrap.ejs"); %>
	</head>
	<body>
		<%- include("../partials/header.ejs"); %>
		<div class="container-fluent">
			<br/>
			<h3>You are rating: <%= course.code %></h3><br/>

			<label for="prof">Professor</label><br/>
			<input id="prof" type="text"><br/><br/>
			<label for="rating">Course Rating</label><br/>
			<input id="rating" type="range" min="0" max="5" value="0"><br/><br/>
			<label for="difficulty">Difficulty Rating</label><br/>
			<input id="difficulty" type="range" min="0" max="5" value="0"><br/><br/>
			<label for="grade">Grade Recieved(Optional)</label><br/>
			<select id="grade">
				<option> -- Grade -- </option>
			</select><br/><br/>
			<label for="review">Write Your Review</label><br/>
			<textarea id="review"></textarea><br/>
			<button type="button" id="submit" onclick="submitReview('<%= course.code %>')">Submit</button>
		</div>
	</body>
	<script src="../../js/client.js"></script>
</html>